.container{
    width: 350px;
    margin: auto;
    margin-top: 50px;
    background: #edf6f9;
    color: #262626;
    display: flex;
    flex-direction: column;
    gap: 12px;
    border-radius: 10px;
    padding: 30px 35px;
    box-shadow: 0px 0px 50px #e0fbfc;
}
.container h1{
    font-size: 22px;
    font-weight: 900;
}
.container hr{
    height: 2px;
    border: none;
    background: #707070;
}
.container h2{
    font-size: 18px;
    font-weight: 500;
}
.container ul li{
    display: flex;
    align-items: center;
    height: 40px;
    padding-left: 15px;
    border: 1px solid #686868;
    border-radius: 8px;
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 16px;
    cursor: pointer;
}
.container button{
    margin: auto;
    width: 150px;
    height: 35px;
    background: #06d6a0;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    border-radius: 8px;
    border: 0;
    cursor: pointer;
    text-transform: capitalize;
}
.container .index{
    margin: auto;
    font-size: 15px;
    
}
.container .correct{
    background: #dffff2;
    border-color: #00d397;
}
.container .wrong{
    background: #ffebeb;
    border-color: #ff4a4a;
}
@media screen and (max-width:700px){
    .container{
        max-width: 300px;
    }
    
}